In [2]:
import pandas as pd 
import warnings
warnings.filterwarnings("ignore")

In [3]:
pop=pd.read_csv('archive/popularity.csv', usecols=["country","date","position","title"])

In [4]:
#filter to global only 
pop_global=pop[pop['country']=='Global']

In [5]:
pop_global.shape

(280200, 4)

In [6]:
pop_global.dtypes

country      object
date         object
position    float64
title        object
dtype: object

In [7]:
pop_global.reset_index(drop=True, inplace=True)

In [8]:
pop_global.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280200 entries, 0 to 280199
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   country   280200 non-null  object
 1   date      280200 non-null  object
 2   position  280200 non-null  float64
 3   title     280200 non-null  object
dtypes: float64(1), object(3)
memory usage: 8.6+ MB

In [9]:
pop_global.head()

  country        date  position        title
0  Global  05/11/2020       1.0      Dakiti
1  Global  05/11/2020       2.0   positions
2  Global  05/11/2020       3.0       Mood
3  Global  05/11/2020       4.0   Lemonade
4  Global  05/11/2020       5.0     Lonely

In [10]:
#check queries work on title name 
pop_global[(pop_global.title == "Dakiti")]

Empty DataFrame
Columns: [country, date, position, title]
Index: []

In [11]:
#remove white space etc from the title field 

pop_global['title'] = pop_global['title'].str.strip()

In [12]:
#check queries work on title name 
pop_global[(pop_global.title == "Dakiti")]

     country        date  position   title
0     Global  05/11/2020       1.0  Dakiti
200   Global  04/11/2020       1.0  Dakiti
400   Global  03/11/2020       1.0  Dakiti
601   Global  02/11/2020       2.0  Dakiti
802   Global  01/11/2020       3.0  Dakiti
1002  Global  31/10/2020       3.0  Dakiti
1208  Global  30/10/2020       9.0  Dakiti

In [13]:
# how many dates do we have in the db 
pop_global['date'] = pd.to_datetime(pop_global['date'])

In [14]:
min(pop_global['date'])

Timestamp('2017-01-01 00:00:00')

In [15]:
max(pop_global['date'])

Timestamp('2020-12-10 00:00:00')